@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-grid {
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
}
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}
