VITE_FIREBASE_API_KEY="AIzaSyAk-bFvsDDbGVKLTdcyNBKgDM18xTZD_jY"
VITE_FIREBASE_AUTH_DOMAIN="aaweb-86b7e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="aaweb-86b7e"
VITE_FIREBASE_STORAGE_BUCKET="aaweb-86b7e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="746010383454"
VITE_FIREBASE_APP_ID="1:746010383454:web:11d4cfd7cfabf2bfabd0cf"